body{
    margin: 0;
    padding: 0;
}
.container1{
    width: 100%;
    height: 100vh;
    margin: 0;
}
.container1 video{
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: -100;
}
.main{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1;
}
.hh{
    position: absolute;
    margin-top: 10%;
    margin-left: 30%;
    font-size: 3em;
    color: #000;
    font-family: Monotype Corsiva;
    text-align: center;
}
.pp{
    position: absolute;
    top: 45%;
    left: 30%;
    right: 30%;
    text-align: center;
    color: #fff;
    line-height: 30px;
    font-family: Monotype Corsiva;
}
ul{
       float:right;
       list-style-type:none;
       margin-right: 35%;
       margin-top:17px;
}
ul li {
       display:inline-block;
       z-index: 1;
      }
ul li a{
        text-decoration:none;
        color:#000;
        padding:5px 40px;
        border: 0px solid #fff;
        transition:0.6s ease;
        font-family:Monotype Corsiva;
       }
ul li a:hover{
              background-color:#fff;
              color:#000;
             }
@media (min-aspect-ratio:16/9)
{
    .vid
    {
      width: 100%;
      height: auto;
    }
}
@media (max-aspect-ratio:16/9)
{
    .vid
    {
      width: auto;
      height: 100%;
    }
}
.container2{
    width: 100%;
    height: 110vh;
    background-image: url(white.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0;
    position: absolute;
}
.box1 p{
    font-family: Monotype Corsiva;
}
.container3{
    width: 100%;
    height: 110vh;
    background-image: url(green1.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin-top: 110vh;
    position: absolute;
}
.container4{
    width: 100%;
    height: 110vh;
    background-image: url(green2.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin-top: 220vh;
    position: absolute;
}
.container5{
    width: 100%;
    height: 110vh;
    background-image: url(black.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin-top: 330vh;
    position: absolute;
}